<%= stylesheet_link_tag "style.css" %>

<center><h1 class="frase">About</h1></center>

Cos'è WeShelf?

Hai la passione per la scrittura e vorresti un giorno poter coronare il tuo sogno di diventare scrittore?
Allora WeShelf è il posto giusto per te!

