<% if @chapter.errors.any? %>
  <h3>I seguenti errori hanno impedito al capitolo di essere salvato:</h3>
  <ul>
    <% @chapter.errors.full_messages.each do |msg| %>
     <li><%= msg %></li> 
    <% end %>
  </ul>
<% end %>
